{#templates/index.html#}
{% extends 'base.html' %}
{% block css %}

<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

{% endblock %}

{% block content %}
<div class="container">
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
                <table id="table_example" class="display table table-hover table-striped">
                <thead>
                <tr>
			    <th>姓名</th>
			    <th>客户来源</th>
			    <th>contact type</th>
			    <th>联系方式</th>
                <th>课程顾问</th>
                <th>咨询内容</th>
                <th>客户状态</th>
                <th>创建时间</th>
		        </tr>
		        </thead>
                <tbody>
                {% for customer in customer %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.get_source_display }}</td>
                    <td>{{ customer.get_contact_type_display }}</td>
                    <td>{{ customer.contact }}</td>
                    <td>{{ customer.consultant }}</td>
                    <td>{{ customer.consult_content }}</td>
                    <td>{{ customer.get_status_display }}</td>
                    <td>{{ customer.date }}</td>
                </tr>
                </tbody>
                {% endfor %}
                </table>
    </main>
</div>
{% endblock %}
{% block script %}
    <!-- DataTables -->
    <script src="https://adminlte.io/themes/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- DataTables -->
        <script src="https://adminlte.io/themes/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="https://adminlte.io/themes/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="https://adminlte.io/themes/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="https://adminlte.io/themes/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="https://adminlte.io/themes/AdminLTE/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="https://adminlte.io/themes/AdminLTE/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
      $(function () {
        $('#table_example').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        })
      })
    </script>
{% endblock %}